name: Build and Deploy
on:
  pull_request:
    types: [opened, synchronize]
      
jobs:
  run-test-cases:
    runs-on: ubuntu-latest
    steps:
      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '11'

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Restore Maven cache
        uses: actions/cache@v3
        with:
          path: ~/.m2
          key: notification-dependency-cache-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            notification-dependency-cache-

      - name: Build and Run test cases
        run: mvn clean install

      - name: Save the build artifact
        run: mvn -f service/pom.xml play2:dist

      - name: Store build artifact
        uses: actions/upload-artifact@v3
        with:
          name: notification-service
          path: service/target/notification-service-1.0.0-dist.zip

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download build artifact
        uses: actions/download-artifact@v3
        with:
          name: notification-service
          path: ./service/target

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Run SonarQube analysis
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          mvn verify -DskipTests sonar:sonar \
            -Dsonar.projectKey=project-sunbird_sunbird-notification-service \
            -Dsonar.organization=project-sunbird \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.coverage.exclusions=**/cassandra-utils/**,**/platform-cache/**,**/sb-actor/**,**/sb-telemetry-utils/**,**/sb-utils/**,**/models/**,**/bean/*,**/sb-common/** \
            -Dsonar.coverage.jacoco.xmlReportPaths=/home/runner/work/notification-service/notification-service/reports/target/jacoco/jacoco.xml